.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.900879;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.958496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.958496;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-2.496000px;}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-10.634400px;}
._9{margin-left:-5.928000px;}
._5{margin-left:-4.216800px;}
._6{margin-left:-3.164000px;}
._1{margin-left:-2.124000px;}
._8{margin-left:-1.020000px;}
._3{width:1.516000px;}
._4{width:2.620000px;}
._7{width:46.280000px;}
._2{width:252.760000px;}
.fc1{color:rgb(39,91,155);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs3{font-size:48.000000px;}
.fs4{font-size:64.000000px;}
.fs1{font-size:72.000000px;}
.fs0{font-size:168.000000px;}
.y0{bottom:19.000000px;}
.y58{bottom:61.326400px;}
.y57{bottom:73.326400px;}
.y47{bottom:73.657400px;}
.y56{bottom:85.326400px;}
.y46{bottom:85.657400px;}
.y55{bottom:97.326400px;}
.y45{bottom:97.657400px;}
.y54{bottom:109.326400px;}
.y44{bottom:109.657400px;}
.y53{bottom:133.326400px;}
.y43{bottom:133.657400px;}
.y42{bottom:145.657400px;}
.y52{bottom:149.326400px;}
.y51{bottom:161.326400px;}
.y41{bottom:169.657400px;}
.y50{bottom:173.326400px;}
.y40{bottom:181.657400px;}
.y4f{bottom:189.326400px;}
.y3f{bottom:193.657400px;}
.y4e{bottom:201.326400px;}
.y3e{bottom:205.657400px;}
.y4d{bottom:213.326400px;}
.y4c{bottom:229.326400px;}
.y3d{bottom:229.657400px;}
.y4b{bottom:241.326400px;}
.y3c{bottom:241.657400px;}
.y4a{bottom:253.326400px;}
.y3b{bottom:253.657400px;}
.y49{bottom:275.162900px;}
.y3a{bottom:277.657400px;}
.y48{bottom:289.562900px;}
.y1f{bottom:316.211500px;}
.y1e{bottom:328.211500px;}
.y39{bottom:329.545600px;}
.y5a{bottom:339.000000px;}
.y1d{bottom:340.211500px;}
.y38{bottom:343.945600px;}
.y1c{bottom:352.211500px;}
.y37{bottom:355.945600px;}
.y75{bottom:362.059500px;}
.y1b{bottom:364.211500px;}
.y36{bottom:367.945600px;}
.y74{bottom:374.059500px;}
.y1a{bottom:376.211500px;}
.y35{bottom:391.945600px;}
.y19{bottom:396.711500px;}
.y73{bottom:398.059500px;}
.y34{bottom:403.945600px;}
.y18{bottom:408.711500px;}
.y33{bottom:415.945600px;}
.y17{bottom:420.711500px;}
.y72{bottom:422.059500px;}
.y32{bottom:427.945600px;}
.y16{bottom:432.711500px;}
.y71{bottom:434.059500px;}
.y31{bottom:439.945600px;}
.y15{bottom:444.711500px;}
.y30{bottom:451.945600px;}
.y14{bottom:456.711500px;}
.y70{bottom:458.059500px;}
.y2f{bottom:463.945600px;}
.y13{bottom:468.711500px;}
.y2e{bottom:475.945600px;}
.y6f{bottom:478.346500px;}
.y12{bottom:480.711500px;}
.y2d{bottom:487.945600px;}
.y2c{bottom:499.945600px;}
.y11{bottom:501.211500px;}
.y2b{bottom:511.945600px;}
.y10{bottom:513.211500px;}
.y6e{bottom:516.020000px;}
.y2a{bottom:523.945600px;}
.yf{bottom:525.211500px;}
.y6d{bottom:530.420000px;}
.y29{bottom:535.945600px;}
.ye{bottom:537.211500px;}
.y6c{bottom:542.420000px;}
.y28{bottom:547.945600px;}
.yd{bottom:549.211500px;}
.y6b{bottom:554.420000px;}
.yc{bottom:561.211500px;}
.y6a{bottom:566.420000px;}
.y27{bottom:571.945600px;}
.yb{bottom:573.211500px;}
.y69{bottom:578.420000px;}
.ya{bottom:585.211500px;}
.y26{bottom:595.945600px;}
.y9{bottom:597.211500px;}
.y68{bottom:602.420000px;}
.y25{bottom:607.945600px;}
.y67{bottom:614.420000px;}
.y8{bottom:617.711500px;}
.y24{bottom:619.945600px;}
.y66{bottom:626.420000px;}
.y7{bottom:629.711500px;}
.y23{bottom:631.945600px;}
.y6{bottom:641.711500px;}
.y65{bottom:642.420000px;}
.y7c{bottom:650.981700px;}
.y5{bottom:653.711500px;}
.y22{bottom:653.782000px;}
.y64{bottom:654.420000px;}
.y4{bottom:665.711500px;}
.y63{bottom:670.420000px;}
.y59{bottom:673.249600px;}
.y7b{bottom:674.981700px;}
.y3{bottom:677.711500px;}
.y62{bottom:682.420000px;}
.y7a{bottom:686.981700px;}
.y61{bottom:694.420000px;}
.y21{bottom:701.762300px;}
.y79{bottom:710.981700px;}
.y60{bottom:718.420000px;}
.y20{bottom:720.841500px;}
.y78{bottom:722.981700px;}
.y5f{bottom:730.420000px;}
.y5e{bottom:742.420000px;}
.y77{bottom:746.981700px;}
.y2{bottom:753.385900px;}
.y5d{bottom:754.420000px;}
.y76{bottom:758.981700px;}
.y5c{bottom:770.981700px;}
.y1{bottom:774.656300px;}
.y5b{bottom:793.991300px;}
.h5{height:27.832031px;}
.h4{height:28.769531px;}
.h6{height:34.523438px;}
.h7{height:46.031250px;}
.h3{height:51.785156px;}
.h2{height:120.832031px;}
.h8{height:441.500000px;}
.h1{height:715.000000px;}
.h0{height:841.890000px;}
.w2{width:1.500000px;}
.w1{width:564.500000px;}
.w0{width:595.276000px;}
.x0{left:17.500000px;}
.x1{left:36.000000px;}
.x5{left:237.692900px;}
.x3{left:248.287200px;}
.x4{left:266.287200px;}
.x2{left:421.018700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws1{word-spacing:-3.328000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-14.179200pt;}
._9{margin-left:-7.904000pt;}
._5{margin-left:-5.622400pt;}
._6{margin-left:-4.218667pt;}
._1{margin-left:-2.832000pt;}
._8{margin-left:-1.360000pt;}
._3{width:2.021333pt;}
._4{width:3.493333pt;}
._7{width:61.706667pt;}
._2{width:337.013333pt;}
.fs2{font-size:53.333333pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:224.000000pt;}
.y0{bottom:25.333333pt;}
.y58{bottom:81.768533pt;}
.y57{bottom:97.768533pt;}
.y47{bottom:98.209867pt;}
.y56{bottom:113.768533pt;}
.y46{bottom:114.209867pt;}
.y55{bottom:129.768533pt;}
.y45{bottom:130.209867pt;}
.y54{bottom:145.768533pt;}
.y44{bottom:146.209867pt;}
.y53{bottom:177.768533pt;}
.y43{bottom:178.209867pt;}
.y42{bottom:194.209867pt;}
.y52{bottom:199.101867pt;}
.y51{bottom:215.101867pt;}
.y41{bottom:226.209867pt;}
.y50{bottom:231.101867pt;}
.y40{bottom:242.209867pt;}
.y4f{bottom:252.435200pt;}
.y3f{bottom:258.209867pt;}
.y4e{bottom:268.435200pt;}
.y3e{bottom:274.209867pt;}
.y4d{bottom:284.435200pt;}
.y4c{bottom:305.768533pt;}
.y3d{bottom:306.209867pt;}
.y4b{bottom:321.768533pt;}
.y3c{bottom:322.209867pt;}
.y4a{bottom:337.768533pt;}
.y3b{bottom:338.209867pt;}
.y49{bottom:366.883867pt;}
.y3a{bottom:370.209867pt;}
.y48{bottom:386.083867pt;}
.y1f{bottom:421.615333pt;}
.y1e{bottom:437.615333pt;}
.y39{bottom:439.394133pt;}
.y5a{bottom:452.000000pt;}
.y1d{bottom:453.615333pt;}
.y38{bottom:458.594133pt;}
.y1c{bottom:469.615333pt;}
.y37{bottom:474.594133pt;}
.y75{bottom:482.746000pt;}
.y1b{bottom:485.615333pt;}
.y36{bottom:490.594133pt;}
.y74{bottom:498.746000pt;}
.y1a{bottom:501.615333pt;}
.y35{bottom:522.594133pt;}
.y19{bottom:528.948667pt;}
.y73{bottom:530.746000pt;}
.y34{bottom:538.594133pt;}
.y18{bottom:544.948667pt;}
.y33{bottom:554.594133pt;}
.y17{bottom:560.948667pt;}
.y72{bottom:562.746000pt;}
.y32{bottom:570.594133pt;}
.y16{bottom:576.948667pt;}
.y71{bottom:578.746000pt;}
.y31{bottom:586.594133pt;}
.y15{bottom:592.948667pt;}
.y30{bottom:602.594133pt;}
.y14{bottom:608.948667pt;}
.y70{bottom:610.746000pt;}
.y2f{bottom:618.594133pt;}
.y13{bottom:624.948667pt;}
.y2e{bottom:634.594133pt;}
.y6f{bottom:637.795333pt;}
.y12{bottom:640.948667pt;}
.y2d{bottom:650.594133pt;}
.y2c{bottom:666.594133pt;}
.y11{bottom:668.282000pt;}
.y2b{bottom:682.594133pt;}
.y10{bottom:684.282000pt;}
.y6e{bottom:688.026667pt;}
.y2a{bottom:698.594133pt;}
.yf{bottom:700.282000pt;}
.y6d{bottom:707.226667pt;}
.y29{bottom:714.594133pt;}
.ye{bottom:716.282000pt;}
.y6c{bottom:723.226667pt;}
.y28{bottom:730.594133pt;}
.yd{bottom:732.282000pt;}
.y6b{bottom:739.226667pt;}
.yc{bottom:748.282000pt;}
.y6a{bottom:755.226667pt;}
.y27{bottom:762.594133pt;}
.yb{bottom:764.282000pt;}
.y69{bottom:771.226667pt;}
.ya{bottom:780.282000pt;}
.y26{bottom:794.594133pt;}
.y9{bottom:796.282000pt;}
.y68{bottom:803.226667pt;}
.y25{bottom:810.594133pt;}
.y67{bottom:819.226667pt;}
.y8{bottom:823.615333pt;}
.y24{bottom:826.594133pt;}
.y66{bottom:835.226667pt;}
.y7{bottom:839.615333pt;}
.y23{bottom:842.594133pt;}
.y6{bottom:855.615333pt;}
.y65{bottom:856.560000pt;}
.y7c{bottom:867.975600pt;}
.y5{bottom:871.615333pt;}
.y22{bottom:871.709333pt;}
.y64{bottom:872.560000pt;}
.y4{bottom:887.615333pt;}
.y63{bottom:893.893333pt;}
.y59{bottom:897.666133pt;}
.y7b{bottom:899.975600pt;}
.y3{bottom:903.615333pt;}
.y62{bottom:909.893333pt;}
.y7a{bottom:915.975600pt;}
.y61{bottom:925.893333pt;}
.y21{bottom:935.683067pt;}
.y79{bottom:947.975600pt;}
.y60{bottom:957.893333pt;}
.y20{bottom:961.122000pt;}
.y78{bottom:963.975600pt;}
.y5f{bottom:973.893333pt;}
.y5e{bottom:989.893333pt;}
.y77{bottom:995.975600pt;}
.y2{bottom:1004.514533pt;}
.y5d{bottom:1005.893333pt;}
.y76{bottom:1011.975600pt;}
.y5c{bottom:1027.975600pt;}
.y1{bottom:1032.875067pt;}
.y5b{bottom:1058.655067pt;}
.h5{height:37.109375pt;}
.h4{height:38.359375pt;}
.h6{height:46.031250pt;}
.h7{height:61.375000pt;}
.h3{height:69.046875pt;}
.h2{height:161.109375pt;}
.h8{height:588.666667pt;}
.h1{height:953.333333pt;}
.h0{height:1122.520000pt;}
.w2{width:2.000000pt;}
.w1{width:752.666667pt;}
.w0{width:793.701333pt;}
.x0{left:23.333333pt;}
.x1{left:48.000000pt;}
.x5{left:316.923867pt;}
.x3{left:331.049600pt;}
.x4{left:355.049600pt;}
.x2{left:561.358267pt;}
}
